<!DOCTYPE html>
<html>
  <head>
    <title>Visualizations</title>
    <meta charset="UTF-8"/>
  </head>
  <body>
    <div th:if="${user}">
      <p th:text="'Hello, ' + ${user.username} + '!'" />
      <form th:action="@{/logout}" method="post">
	<input type="submit" value="Logout"/>
      </form>
    </div>
    <h1>Vassar OMH: Live Visualization</h1>
    <p th:text=" 'This demo shows a chart of the incoming data points for ' + ${user.username} + '.'" />
    <!--This is where the inputs for the chart specifications would be-->   
    <p><a href="/" th:ref="@{/}">Back to home page</a></p>
  </body>
</html>
