ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
}

li { float: left; }

li a, .dropbtn {
    display: inline-block;
    color: #F2F3F4;
    text-align: center;
    padding: 1vw 2vw;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
		background-color: #111;
		color: #F2F3F4;
	    }

.active {
    background-color: #4BC0C0;
    color: #F2F3F4;
}

li.dropdown {display: inline-block;}

.dropdown-content {
    min-width: 170px;
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #F2F3F4;
    padding: 1vw 2vw;
    text-decoration: none;
    display: block;
    text-align: left;
}

li.logout-button, li.login-button {
    float: right;
    display: inline-block;
}

input[type=submit] {
    background-color: #262626;
    color: #F2F3F4;
    cursor: pointer;
    border: 0 none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding: 1vw 2vw;
}

.dropdown-content a:hover { background-color: #111; }

li.dropdown:hover .dropdown-content { display: block; }