<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/userPage.css}"/>
    <link rel="stylesheet" th:href="@{/css/body.css}"/>
  </head>
  <body>
    <div id="this">
      <h1>Welcome</h1>
      <p>Example user: user / password </p>
      
      <form method="post">
	<div th:if="${error}">
	  Invalid username and password.
	</div>
	<div th:if="${logout}">
	  You have been logged out.
	</div>
	<div th:if="${logout}==null">
	<label for="username">Username</label>:
	<input type="text" id="username" name="username" required="true" autofocus="true" autocorrect="off" /> <br/>
	<label for="password">Password</label>:
	<input type="password" id="password" name="password" required="true"/> <br/>
	<!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
	<input type="submit" value="Submit"/>
	</div>
      </form>
      <p>If you are new to Vassar OMH, sign up <a href="/users" th:href="@{/users}"> here </a></p>
      <p> Or, you can go to our <a href="https://mdash.cs.vassar.edu:8080">home page </a> </p>
    </div>
  </body>
</html>
