<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1 style="font-size:300%">Please Login</h1>
    <p style="font-size:300%">Example user: user / password </p>
    <form method="post">
      <div th:if="${param.error}" class="alert alert-error">
	Invalid username and password.
      </div>
      <div th:if="${param.logout}" class="alert alert-success">
	You have been logged out.
      </div>
      <label style="font-size:300%">Username</label>:
      <input type="text" style="font-size:300%" id="username" name="username" required="true" autofocus="true" autocorrect="off" /> <br/>
      <label for="password" style="font-size:300%">Password</label>:
      <input type="password" style="font-size:300%" id="password" name="password"/> <br/>
      <input type="submit" style="font-size:300%" value="Submit"/>
    </form>
    <p style="font-size:200%">If you are new to Vassar OMH, sign up <a href="/" th:href="@{/users}"> here </a></p>
    <p style="font-size:200%"><a href="/" th:href="@{/}"> Back to home page</a></p>
  </body>
</html>
