<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>About</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
  </head>
  <body>
    <ul>
      <li><a href="/" th:href="@{/}">Home</a></li>
      <li><a class="active" href="/about" th:href="@{/about}">About Us</a></li>
      <li><a href="https://github.com/mdash-ursi2016">Our Github</a></li>
      <li><a href="https://mdash.cs.vassar.edu:443/clients">Client Registration</a></li>
      <li class="dropdown">
	<a class="dropbtn" href="https://mdash.cs.vassar.edu:443/users">User Registration </a>
	<div class="dropdown-content">
	  <a href="/visualization" th:href="@{/visualization}"> Visualization </a>
	</div>
      </li>
    </ul>

    <div id="page-text">
      <h1>Open mHealth Vassar URSI Project</h1>
      <p> Welcome to the Open mHealth Vassar URSI project!</p>
      <p> Developed by Alexandra Alc&aacute;ntara, Nate Green, Macall McQueen and Professor Jason Waterman during the summer of 2016 as an Undergraduate Summer Research Institute (URSI) project.  </p>
    </div>
  </body>
</html>
