<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
  </head>
  <body>
    <!--Nav bar: Home About Git Client_Registration User_Login-->
    <ul>
      <li><a class="active" href="/" th:href="@{/}">Home</a></li>
      <li><a href="/about" th:href="@{/about}">About Us</a></li>
      <li><a href="https://github.com/mdash-ursi2016">Our Github</a></li>
      <li><a href="http://143.229.6.40/clients">Client Registration</a></li>
      <li class="dropdown">
	<a class="dropbtn" href="http://143.229.6.40/users">User Registration</a>
	<div class="dropdown-content">
	  <a href="/visualization" th:href="@{/visualization}"> Visualization </a>
	</div>
      </li>
    </ul>
    <div id="page-text">
      <h1>Good day to you!</h1>
      
      <p> Welcome to the Open mHealth Vassar URSI project!</p>
    </div>
  </body>
</html>
