<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Visualizations</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/bower_components/plottable/plottable.css}"/>
    <link rel="stylesheet" th:href="@{/css/omh-web-visualizations-all.css}"/>
  </head>
  <body>
    <ul>
      <li><a href="/" th:href="@{/}">Home</a></li>
      <li><a href="/about" th:href="@{/about}">About Us</a></li>
      <li><a href="https://github.com/mdash-ursi2016">Our Github</a></li>
      <li><a href="http://143.229.6.40:80/clients">Client Registration</a></li>
      <li class="dropdown">
	<a class="dropbtn" href="http://143.229.6.40:80/users">User Registration </a>
	<div class="dropdown-content">
	  <a class ="active" href="/visualization" th:href="@{/visualization}"> Visualization </a>
	</div>
      </li>
      <li> 
	<div align="right">
	  <form th:action="@{http://143.229.6.40:80/logout}" method="post">
	    <input type="submit" value="Logout"/>
	  </form>
	</div>
      </li>
    </ul>

    <div id="page-text">
      <h1>Vassar OMH: Live Visualization</h1>
      <p>Hello! Here you can visualize your data!</p>
      
      <div style="font-size=300%" id="content">-- bpm</div>

      <div id="test1" class="test1"></div>
      <div id="test2" class="test2"></div>
      <div id="test3" class="test3"></div>
      <br/><br/>
      
      <form id="chart_form" name="chart_form">
	<label for="schema_name"> Which set of data would you like to chart?</label><br/>
	<select class="schema_name"  name="schema_name">
	  <option value="heart_rate">Heart Rate</option>
	  <option value="step_count">Step Count</option>
	</select> <br/>
	<button class="select_button" type="button" onclick="getChartData()"> Chart </button>
      </form>
      
      <div id="chart"></div>

      <div class="demo_chart_container">
	<div class="loading_message"></div>
	<svg class="demo_chart"></svg>
      </div>
      
      <div class="additional_information">
	<div class="dataPoint_details"></div>
      </div>
      
      <p><a href="/" th:ref="@{/}">Back to home page</a></p>
    </div>
    
    <script type="text/javascript" th:src="@{/js/bpmDataFetch.js}"></script>
    <script type="text/javascript" th:src="@{/js/chartDataFetchOrig.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/chartDataFetch.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/bower_components/d3/d3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bower_components/d3-tip/index.js}"></script>
    <script type="text/javascript" th:src="@{/js/bower_components/plottable/plottable.js}"></script>
    <script type="text/javascript" th:src="@{/js/bower_components/moment/moment.js}"></script>
    <script type="text/javascript" th:src="@{/js/omh-web-visualizations-all.js}"></script>
    <script type="text/javascript">
      
      /* ====== Based on OMH Web Visualizations ====== */
      
      /* ====== Variable Definitions ====== */
      var chart = null;
      var measure = chart_form.elements['schema_name'].value;
      var loadingMessage = d3.select( '.loading_message' );
      var dataPointDetails = d3.select( '.dataPoint_details' );
      var clickInteraction = null;
      var clickInteractionComponent = null;
      
      // Custom chart appearance 
      var settings = {
      'interface': {
      'axes': {
      'yAxis': {
      'visible': true
      },
      'xAxis': {
      'visible': true
      }
      },
      'tooltips': {
      'decimalPlaces': 4
      }
      },
      'measures': {
      'heart_rate': {
      'seriesName': 'Heart Rate',
      'yAxis': {
      'range': { 'min': 0, 'max': 255 }
      },
      'chart': {
      'styles': [
      {
      'name': 'blue-lines',
      'plotType': 'Line',
      'attributes': {
      'stroke': '#4BC0C0'
      }
      }
      ]
      }
      },
      'step_count': {
      'seriesName': 'Step Count',
      'yAxis' : {
      'range': undefined
      },
      'data': {
      'xValueQuantization': {
      'period': OMHWebVisualizations.DataParser.QUANTIZE_MONTH
      }
      },
      'chart': {
      'type': 'Line',
      'daysShownOnTimeline': undefined
      }
      }
      }
      };

      /* ====== UI Helper Functions ====== */
      function cloneObject( object ) {
      
      return JSON.parse( JSON.stringify( object ) );
      }
      
      function hideLoadingMessage() {
      
      loadingMessage.classed( 'hidden', true );
      }
      
      function showLoadingMessage() {
      
      loadingMessage.text( 'Loading data... ' );
      }

      
      function showLoadingError( error ) {
      loadingMessage.classed( 'hidden', false );
      loadingMessage.html( 'There was an error while trying to load the data: <pre>' + 
        JSON.stringify( error ) + '</pre>' );
      }
      
      
      function hideChart() {
      
      d3.select( '.demo_chart' ).classed( 'hidden', true );
      }
      
      function showChart() {
      
      d3.select( '.demo_chart' ).classed( 'hidden', false );
      }
      
      function disableUI() {
      d3.select( '.schema_name' ).property( 'disabled', true );
      d3.select( '.select_button' ).property( 'disabled', true );
      }
      
      function enableUI() {
      d3.select( '.schema_name' ).property( 'disabled', false );
      d3.select( '.select_button' ).property( 'disabled', false );
      }
      
      function showDatapointDetailsMessage( message ) {
      
      dataPointDetails.html( '<h3>Data Point Details</h3> ' + message );
      }
      
      /* ====== Chart Construction ====== */
      /* GETS THE BALL ROLLING.
       * Need to wait for response from server before attempting
       * to process the data
       */
      function getChartData() {
      getDataAndChart(chartData);
      }


      // MAKE CHART pt 1
      var chartData = function ( data ) {
      let chartSettings = cloneObject(settings); 
      if (measure === "heart_rate") {
      chartSettings.interface.tooltips.visible = false;
      }
      
      disableUI();

      
      if (data.length===0) {

      hideChart();
      showLoadingError("There are no data points of this type!");
      enableUI();
      
      } else if (data.hasOwnProperty('error')) {

      hideChart();
      showLoadingError(data.error);
      enableUI();

      } else {

      makeChart(data, chartSettings);
      }

      }

      // MAKE CHART pt 2
      function makeChart( data, chartSettings ) {
      let element = d3.select('.demo_chart_container');
      
      // Data points should either be an array or a JSON object {body: [array_of_dataPoints]}
      if (data.hasOwnProperty( 'body' )) {
      data = data.body;
      }
      
      
      // Destroy chart if one is already present
      if (chart) {
      chart.destroy();
      if (clickInteraction){
      if (clickInteractionComponent) {
      clickInteraction.detachFrom( clickInteractionComponent );
      }}
      }
      
      // Build new chart
      chart = new OMHWebVisualizations.Chart(data, element, measure, chartSettings);
      if (chart.initialized) {
      hideLoadingMessage();
      //customizeChartComponents(chart.getComponents());
      showChart();
      chart.renderTo(element.select('svg').node());
      } else {
      hideChart();
      showLoadingError("Chart could not be initialized. There's  a glitch in the matrix!");
      }
      enableUI();
      }
      
    </script>
  </body>
</html>
