#this {
    text-align: left;
    width: 800px;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8C8C8C;
    text-align: center;
    padding-top: 20%;
}

.errorText {
    padding: 20px;
    margin: 10px;
    background-color: #4BC0C0;
    color: #FFFFFF;
    line-height: 1.5em;
    border: 2px dashed #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #4BC0C0, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px #aa3030;
    font-weight: normal;
    text-align: center;
}

.errorName {
    font-size: 30px;
    font-weight: bold;
}

.errorMessage {
    font-size: 20px;
}

.userMessage a {
    font-size: 30px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: .5em 1em;
    text-transform: uppercase;
    display: inline-block;
}